<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Maha Dale</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">MAHA DALE</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME</a></li>
          <li id="viewDals"><a href="/dals">DALS</a></li>
          <li id="viewYuvaks"><a href="/yuvaks">YUVAKS</a></li>
          <li id="addYuvak"><a href="/addYuvak">ADD YUVAK</a></li>
        </ul>
    </div>
  </nav>
</head>

<body>
  <div class="container">
